/* Extensions are re-usable groups of style rules.

   DRY - Don't repeat yourself
   Common styles can be defined in one place, applied in many places
*/

%card {
	background-color: #ddd;
	font-size: 1.3em;
	box-shadow: 5px 5px 15px rgba(1, 1, 1, .7);
	-webkit-box-shadow: 5px 5px 15px rgba(1, 1, 1, .7);
	padding: 1em;

	.inner-card {
		background-color: #999;
		color: #efefef;
	}
}