/* Mixins: Standardized rules with
   some aspects defined by a variable.
*/

@mixin dashed-border($border_color) {
	border: 2px dashed $border_color;
}

/* Mixins can contain:

   1) Nested rules
   2) Multiple variables
*/
@mixin dashed-border-2($border_color, $link_color) {
	border: 2px dashed $border_color;

	a {
		background-color: $link_color;
		color: #efefef;
	}
}